## Read data from the CSV file

In [4]:
import pandas as pd

In [11]:
df = pd.read_csv("./data/auto_mpg.csv")
df

        0  1      2      3       4     5   6      7
0    18.0  8  307.0  130.0  3504.0  12.0  70  India
1    15.0  8  350.0  165.0  3693.0  11.5  70  India
2    18.0  8  318.0  150.0  3436.0  11.0  70  India
3    16.0  8  304.0  150.0  3433.0  12.0  70  India
4    17.0  8  302.0  140.0  3449.0  10.5  70  India
..    ... ..    ...    ...     ...   ...  ..    ...
393  27.0  4  140.0   86.0  2790.0  15.6  82  India
394  44.0  4   97.0   52.0  2130.0  24.6  82    USA
395  32.0  4  135.0   84.0  2295.0  11.6  82  India
396  28.0  4  120.0   79.0  2625.0  18.6  82  India
397  31.0  4  119.0   82.0  2720.0  19.4  82  India

[398 rows x 8 columns]

In [27]:
#Read data from CSV file and Excel file

In [21]:
df = pd.read_csv("./data/auto_mpg.csv",
                 header=0,
                names = ['MPG','Cylinders','Displancement','Horsepower','Weight','Acceleration','Model year','Origin'])
df.head(10)

,MPG,Cylinders,Displancement,Horsepower,Weight,Acceleration,Model year,Origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,India
1,15.0,8,350.0,165.0,3693.0,11.5,70,India
2,18.0,8,318.0,150.0,3436.0,11.0,70,India
3,16.0,8,304.0,150.0,3433.0,12.0,70,India
4,17.0,8,302.0,140.0,3449.0,10.5,70,India
5,15.0,8,429.0,198.0,4341.0,10.0,70,India
6,14.0,8,454.0,220.0,4354.0,9.0,70,India
7,14.0,8,440.0,215.0,4312.0,8.5,70,India
8,14.0,8,455.0,225.0,4425.0,10.0,70,India
9,15.0,8,390.0,190.0,3850.0,8.5,70,India