## Read data from the CSV file

In [4]:
import pandas as pd

In [38]:
df = pd.read_csv("./data/auto_mpg.csv")
df.head()

      0  1      2      3       4     5   6      7
0  18.0  8  307.0  130.0  3504.0  12.0  70  India
1  15.0  8  350.0  165.0  3693.0  11.5  70  India
2  18.0  8  318.0  150.0  3436.0  11.0  70  India
3  16.0  8  304.0  150.0  3433.0  12.0  70  India
4  17.0  8  302.0  140.0  3449.0  10.5  70  India

In [27]:
#Read data from CSV file and Excel file

In [40]:
df = pd.read_csv("./data/auto_mpg.csv",
                 header=0,
                names = ['MPG','Cylinders','Displancement','Horsepower','Weight','Acceleration','Model year','Origin'])
df.head(10)

,MPG,Cylinders,Displancement,Horsepower,Weight,Acceleration,Model year,Origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,India
1,15.0,8,350.0,165.0,3693.0,11.5,70,India
2,18.0,8,318.0,150.0,3436.0,11.0,70,India
3,16.0,8,304.0,150.0,3433.0,12.0,70,India
4,17.0,8,302.0,140.0,3449.0,10.5,70,India
5,15.0,8,429.0,198.0,4341.0,10.0,70,India
6,14.0,8,454.0,220.0,4354.0,9.0,70,India
7,14.0,8,440.0,215.0,4312.0,8.5,70,India
8,14.0,8,455.0,225.0,4425.0,10.0,70,India
9,15.0,8,390.0,190.0,3850.0,8.5,70,India

In [44]:
df.shape

(398, 8)

In [50]:
df.columns

Index(['MPG', 'Cylinders', 'Displancement', 'Horsepower', 'Weight',
       'Acceleration', 'Model year', 'Origin'],
      dtype='object')

In [52]:
list(df.columns)

['MPG',
 'Cylinders',
 'Displancement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model year',
 'Origin']

In [54]:
df.index

RangeIndex(start=0, stop=398, step=1)

In [56]:
df.info

<bound method DataFrame.info of       MPG  Cylinders  Displancement  Horsepower  Weight  Acceleration  \
0    18.0          8          307.0       130.0  3504.0          12.0
1    15.0          8          350.0       165.0  3693.0          11.5
2    18.0          8          318.0       150.0  3436.0          11.0
3    16.0          8          304.0       150.0  3433.0          12.0
4    17.0          8          302.0       140.0  3449.0          10.5
..    ...        ...            ...         ...     ...           ...
393  27.0          4          140.0        86.0  2790.0          15.6
394  44.0          4           97.0        52.0  2130.0          24.6
395  32.0          4          135.0        84.0  2295.0          11.6
396  28.0          4          120.0        79.0  2625.0          18.6
397  31.0          4          119.0        82.0  2720.0          19.4

     Model year Origin
0            70  India
1            70  India
2            70  India
3            70  India
4            70  India
..          ...    ...
393          82  India
394          82    USA
395          82  India
396          82  India
397          82  India

[398 rows x 8 columns]>

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MPG            398 non-null    float64
 1   Cylinders      398 non-null    int64
 2   Displancement  398 non-null    float64
 3   Horsepower     392 non-null    float64
 4   Weight         398 non-null    float64
 5   Acceleration   398 non-null    float64
 6   Model year     398 non-null    int64
 7   Origin         398 non-null    object
dtypes: float64(5), int64(2), object(1)
memory usage: 25.0+ KB

In [60]:
df.describe(include='object')

       Origin
count     398
unique      3
top     India
freq      249

In [62]:
df['Origin'].value_counts()

Origin
India      249
Germany     79
USA         70
Name: count, dtype: int64

In [ ]:
df['Origin'].value_counts()